/* user.css */

/* Styling for User Container */
/* Styling for Search Input */
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styling for Add User Button */
button {
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

/* Styling for Table */
.user-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 4px;
}

.user-table th,
.user-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.user-table th {
  background-color: #f2f2f2;
}

/* Hover effect for table rows */
.user-table tbody tr:hover {
  background-color: #f9f9f9;
}

/* Styling for Delete Button in Table */
.delete-button {
  cursor: pointer;
  color: red;
}

/* Styling for Pagination Buttons */
.pagination {
  margin-top: 20px;
}

.pagination button {
  padding: 8px 12px;
  margin-right: 5px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 4px;
  color: #000;
}

.pagination button:hover {
  background-color: #000;
  color: #fff;
}

/* Styling for Modal Content */
.modal-content {
  border-radius: 8px;
}

/* Styling for Modal Header */
.modal-header {
  background-color: #007bff;
  color: #fff;
  border-radius: 8px 8px 0 0;
}

/* Styling for Modal Body */
.modal-body {
  padding: 20px;
}

/* Styling for Modal Footer */
.modal-footer {
  justify-content: flex-end;
  border-top: none;
}

/* Styling for Form Controls in Modal */
.modal-body .form-group {
  margin-bottom: 20px;
}

/* Styling for Add User Button in Modal */
.modal-footer .btn-primary {
  background-color: #007bff;
  border: none;
}

.modal-footer .btn-primary:hover {
  background-color: #0056b3;
}
/* Styling for User Container */
.user-container {
  width: 120%; /* Adjust the width of the user container as needed */
}

/* Styling for Table */
.usetab{
  text-align: center;
  font-size: 19px;
  color: black;
  padding: 3px 40px;
  display:inline-block;
}